<% @page_title = "Payment" %>

<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-default">
    <h4>Enter Payment Information</h4>

    <%= form_for @payment, :url => payments_path, :method => 'POST', :html => {:id => 'cvvForm'} do |f| %>



      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-shopping-usd">$</span>
        <%= f.text_field :amount, placeholder: "amount", class: "form-control input-lg required", label: false %>
        <span class="input-group-addon">.00</span>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-shopping-cart"></span>
        <%= f.text_field :product_name, placeholder: "ProductName", class: "form-control input-lg required", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-user"></span>
        <%= f.text_field :customer_name, placeholder: "Customer Name", class: "form-control input-lg required", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
      <%= f.date_select("date_of_birth", {:order => [:day, :month, :year], :end_year => Time.now.strftime('%Y').to_i - 60,  :start_year => Time.now.strftime('%Y').to_i, :use_month_numbers => true}) %>

      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-home"></span>
        <%= f.text_field :address, placeholder: "Address", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-road"></span>
        <%= f.text_field :city, placeholder: "City", class: "form-control input-lg required", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-globe"></span>
        <%= f.text_field :state, placeholder: "State", class: "form-control input-lg required", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-globe"></span>
        <%= f.text_field :post_code, placeholder: "Postcode", class: "form-control input-lg required", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-flag"></span>
        <%= f.country_select :country, placeholder: "Country", class: "form-control input-lg required", label: false, prompt: "Select Country" %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-phone"></span>
        <%= f.text_field :phone, placeholder: "Phone", class: "form-control input-lg required", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-envelope"></span>
        <%= f.text_field :email, placeholder: "Email", class: "form-control input-lg required", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-credit-card"></span>
        <%= f.text_field :card_number, placeholder: "CardNumber", class: "form-control input-lg credit card required", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-calendar"></span>
        <%= f.text_field :card_expiry, placeholder: "CardExpiry", class: "form-control input-lg", label: false %>
      </div><br/>

      <div class="input-group">
        <span class="input-group-addon glyphicon glyphicon-credit-card"></span>
        <%= f.text_field :card_cvv, placeholder: "CardCvv", class: "form-control input-lg required", label: false %>
      </div><br/>
  
    <%= f.hidden_field :ip_address, :value => request.remote_ip %>

    <div class="panel-footer">
      <%= f.submit "Submit", class: 'btn btn-sm btn-primary' %>
   
    </div>  

    <%end%>

</div>

</div>

    <style>
      .input-group-addon {
        background-color: #eeeeee;
        border: 1px solid #cccccc;
        border-radius: 4px;
        color: #555555;
        font-size: 14px;
        font-weight: normal;
        line-height: 1;
        padding: 6px 12px;
        text-align: center;
      }


      .ui-datepicker-month,.ui-datepicker-year
      {
        min-width: 20px;
      }
      #payment_date_of_birth_3i,#payment_date_of_birth_2i,#payment_date_of_birth_1i
{
        min-width: 20px;
}

    .error
    {
     color:#9e2106;
    background: none;
    }
    </style>

    <script>

   $('#cvvForm').validate();
    </script>
